# General requirements
itsdangerous
markdown

# Flask specific requirements
flask
flask-mail
flask-openid
flask-script
flask-sijax
flask-sqlalchemy
flask-wtf

# Planned requirements
#flask-cache
#flask-lesscss
