{# Flash the messages in a Bootstrap compatible style #}
{% macro flash_messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flashes unstyled">
        {% for category, message in messages %}
        <li class="fade in alert {% if category %}{{ category }}{% else %}error{% endif %}">
          <a data-dismiss="alert" class="close">×</a>{{ message|safe }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro link_to(endpoint, text) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %}

{% macro sijax_link(cmd, text) -%}
<a onclick="Sijax.request('{{ cmd|safe }}');">{{ text|safe }}</a>
{%- endmacro %}
